<ion-content [fullscreen]="true">
  <header>
    <ion-text class="h1-rabeet">
      Rabeet
    </ion-text>
  </header>
  <swiper-container>
    <swiper-slide *ngFor="let anonym of anonymCall">
      <section class="section-anonymInfo">
        <ion-text class="txt-user">
          {{anonym[0]}}
        </ion-text><br><br>
      
        <img src="https://m.media-amazon.com/images/I/51tEXq0ZDcL._AC_UF1000,1000_QL80_.jpg" alt="sample-user" class="img-user" />
        <br>
        <ion-text>0:11</ion-text>
        
        <ion-range aria-label="volume" [pin]="true" [pinFormatter]="pinFormatter" [(ngModel)]="volume">
          <ion-icon slot="start" name="volume-mute-outline"></ion-icon>
          <ion-icon slot="end" name="volume-medium-outline"></ion-icon>
        </ion-range>
      </section>

      <!-- ACTION -->

      <ion-grid class="grid-action">
        <ion-row class="grid-row-action">
          <ion-col [size]="colFormat(0)" size-md="12" class="col-action">
            <ion-button shape="round" [color]="voiceFx ? 'medium-active' : 'medium'" (click)="callAction('voiceFx')">
              <ion-icon size="large" name="aperture"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col [size]="colFormat(0)" size-md="12" class="col-action">
            <ion-button shape="round" [color]="mic ? 'medium-active' : 'medium'" (click)="callAction('mic')">
              <ion-icon size="large" name="mic"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col [size]="colFormat(0)" size-md="12" class="col-action">
            <ion-button shape="round" [color]="chat ? 'medium-active' : 'medium'" (click)="callAction('chat')">
              <ion-icon size="large" name="chatbubble"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col [size]="colFormat(1)" size-md="12" class="col-action">
            <ion-button shape="round" [color]="record ? 'medium-active' : 'medium'" (click)="callAction('record')">
              <ion-icon size="large" name="recording"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col [size]="colFormat(1)" size-md="12" class="col-action">
            <ion-button shape="round" [color]="music ? 'medium-active' : 'medium'" (click)="callAction('music')">
              <ion-icon size="large" name="musical-notes"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col [size]="colFormat(1)" size-md="12" class="col-action">
            <ion-button shape="round" [color]="wallet ? 'medium-active' : 'medium'" (click)="callAction('wallet')">
              <ion-icon size="large" name="wallet"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col [size]="colFormat(2)" size-md="12" class="col-action">
            <ion-button shape="round" color="danger" (click)="endCall()">
              <ion-icon size="large" name="log-out"></ion-icon>
            </ion-button>
          </ion-col>

        </ion-row>
      </ion-grid>
    </swiper-slide>
  </swiper-container>

  
  <!-- action buttons -->

  <section class="section-chatbox">
    <section class="section-chatscroll">
      <ng-container *ngFor="let chat of chatThread">
        <!-- user -->
        <ion-card color="primary" color="{{ chat[0] === 0 ? 'primary' : 'medium' }}" class="{{ chat[0] === 0 ? 'chat-user' : 'chat-anonym' }}">
          <p>{{ chat[2]  }}</p>
        </ion-card>
      </ng-container>
    </section>
    
  
    
    <br>
    <ion-input fill="outline" placeholder="Write a message..." (keyup.enter)="sendChat()" [(ngModel)]="userChat">
      <ion-button fill="clear" slot="end" (click)="sendChat()">
        <ion-icon name="send" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-input>
  </section>


</ion-content>
