header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
}


.img-user{
    border-radius: 50%;
    width: clamp(30px, 10vw, 50px);
    height: clamp(30px, 10vw, 50px);
    
}

.h1-rabeet{
    font-size: clamp(30px, 8vw, 50px);
}

.section-typeSomething{
    display: flex;
    justify-content: space-between;
    align-items: center;
}